* {
  min-height: 0;
  margin: 0;
  font-family: "3270 Nerd Font";
  font-size: .9rem;
  color: #fff;
  text-shadow: 0 0 2px #fff;
}

#waybar {
  background: rgba(0, 0, 0, 0.95);
  border: 1px solid #000;
}


#cpu,
#memory,
#temperature,
#pulseaudio,
#network {
  font-weight: bolder;
  padding: 2px 16px;
}

#cpu.warning, #cpu.critical {
  background: transparent;
  color: #fff;
}

#memory.warning {
  color: #faa;
}

#memory.critical {
  color: #d77;
}

#tray {
  margin: 6px 20px;
}

#clock {
  font-weight: bolder;
  margin-right: 12px;
}

#temperature.critical {
  color: #f00;
}

#workspaces {
  padding: 0;
}

#workspaces button {
  font-size: .4em;

  border-bottom: 2px solid transparent;
  border-radius: 0;
  padding: 8px 12px;
}


#workspaces button.active {
  border-bottom: 2px solid #fff;
  transition: border-bottom .75s;
}

