* {
  min-height: 0;
  margin: 0;
  font-family: "Ubuntu Nerd Font";
  font-size: .85rem;
}

#waybar {
  background: rgba(0, 0, 0, 0.95);
  border: 1px solid #000;
  color: #ddf;
  margin-top: 2px;
}


#cpu,
#memory,
#temperature,
#pulseaudio,
#network {
  font-weight: bolder;
  padding: 2px 22px;
}

#cpu.warning, #cpu.critical {
  background: transparent;
  color: #fff;
}

#memory.warning {
  color: #faa;
}

#memory.critical {
  color: #d77;
}

#tray {
  margin: 6px 20px;
}

#clock {
  font-weight: bolder;
  margin-right: 12px;
}

#temperature.critical {
  color: #f00;
}

#workspaces {
  padding: 0;
}

#workspaces button {
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: .5em;
  padding: 0 8px;
  background-color: rgba(0, 0, 0, 0.5);
}


#workspaces button.active {
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
}

